* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Styling the body of HTML*/
body {
    font-family: Arial;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 1.5;
    width: 60%
}

/* Giving my heading separate styling*/
header {
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0
}

.scores a,
.timer {
    font-size: 20px;
}
/* Changed appearance of my "view high score*/
.scores a {
    color: purple;
    cursor: pointer;
}
/* Changes the color of my "view high score when i hover over it*/
.scores a:hover {
    color: rgba(255, 3, 3, 0.733)
} 
/* Making sure that my content is vin the middle of the screen*/
.start-quiz {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
}

h2{
    text-align: center;
    color: rgba(255, 3, 3, 0.733)
}
/* Giving my start quiz button some design*/
button {
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: large;
    cursor: pointer;
}

.btn-grid {
    display: grid;
}

.starting-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
/*Preventing my questions, intials and highscore box from showing up when my HTML first loads up */
.hide {
    display: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.highscore {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px auto;

}

.centered {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin: 8px 0;
    border: 1px solid var(--tertiary-color);
    border-radius: 4px;
    box-sizing: border-box;
  }

  .name-div,
  .score-div {
    flex: 1 35%;
    padding: 10px 0;
    border: 1px solid purple;
  }

  /*Didnt need any media queries on this application as everything fits fine on smaller displays with the flex displays I set on the body*/